* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

#Main-Part {
    margin: 75px auto;
    width: 240px;
    height: 450px;
    border-radius: 13px;
    background-color: #E7EBF0;
}

.divider {
    width: 100%;
    height: 9px;
    margin-top: 23px;
    background: linear-gradient(#B8B8B8, #E7EBF0, #FFFFFF);
    border-radius: 45px;
}

.fa-calculator {
    font-size: 13px;
    color: #7E99B9;
    margin-left: 9px;
    margin-top: 23px;
}

.fa-clock {
    margin-left: 13px;
    font-size: 13px;
    margin-top: 13px;
}

.toggle-btn {
    width: 43px;
    height: 20.5px;
    margin-top: 20.5px;
    margin-left: auto;
    margin-right: auto;
    background: #C1D0E2;
    box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.75), inset -4px -4px 12px 5px rgba(236, 236, 236, 0.08);
    border-radius: 24px;
    position: relative;
}

.fa-moon {
    position: absolute;
    font-size: 9px;
    margin: 6px 9px;
}

.fa-sun {
    position: absolute;
    right: 6px;
    font-size: 9px;
    top: 6px;
    color: #39CBF9;
}

.circle {
    background-color: #FFFFFF;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 3.2px;
    left: 25px;
}

.middle-part {
    margin-bottom: 27px;
}

.MathBox {
    width: 100%;
    height: 45px;
    display: block;
    margin-top: 5px;
    padding: 18px 0 5px 20px;
    overflow-wrap: anywhere;
    overflow-y: scroll;
}

.cal-box {
    float: right;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 25px;
    color: #C1D0E2;
}

.Equal {
    font-size: 20.5px;
    margin-left: 18px;
}

.result {
    font-size: 23px;
    float: right;
    margin-right: 27px;
    width: 100%;
    direction: rtl;
}

.Hor-panel {
    box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.45), inset -4px -4px 12px 5px rgba(236, 236, 236, 0.08);
    border-radius: 24px;
    margin-left: 22px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    height: 27px;
}

.holder {
    margin-left: 4.5px;
    margin-top: 6.8px;
}

.cal-btn {
    font-size: 20.5px;
    text-align: center;
    background: #E7EBF0;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.75), -4px -4px 12px 5px rgba(236, 236, 236, 0.08);
    border-radius: 100px;
    border: none;
    width: 31.8px;
}

.numbers {
    width: 85%;
    margin-left: 9.5px !important;
    margin-top: 9px !important;
}

.ver-bar {
    width: 28.7px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 191px;
    box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.45), inset -4px -4px 12px 5px rgba(236, 236, 236, 0.08);
    border-radius: 24px;
    position: relative;
    right: 10px;
    top: 0;
}

.Hor-Item {
    font-size: 15.9px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.var-Item {
    font-size: 15.9px;
    font-weight: 600;
    flex: 1 1 40px;
    margin-top: 6.5px !important;
    z-index: 1;
    border: none;
    background-color: transparent;
}

.Move_left {
    left: 4.5px;
}

.Move_right {
    left: 25px;
}

.moving-circle {
    background: #E7EBF0;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.75), -4px -4px 12px rgba(236, 236, 236, 0.08);
    border-radius: 100px;
    margin: 2px;
    height: 25px;
    animation: pulse 3s ease infinite alternate,
    nudge 5s linear infinite alternate;
}
